{% extends "AppService/padre.html" %}

    {% load static %}

    {% block titulo %}
    <h1 class="mb-5">Bienvenido al sitio web de gestion de Servicio Técnico</h1>
    {% endblock %}

    {% block contenido_que_cambia %}
    <h3>Indice de Sitio Web</h3>
    
    <li><a href="{% url 'Inicio' %}">Inicio</a></li>
    <li><a href="{% url 'empleadoFormulario' %}">Formulario de alta Empleados</a></li>
    <li><a href="{% url 'maquinaFormulario' %}">Formulario de alta de Maquinas</a></li>
    <li><a href="{% url 'clienteFormulario' %}">Formulario de alta de Clientes</a></li>
    <li><a href="{% url 'busquedaTelefono' %}">Formulario de busqueda de Clientes por Telefono</a></li>



    

    {{ mensaje }}
    {% endblock %}